body {
    margin: 0;
    background-image: url("./images/bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.body {
    display: flex;
    flex-direction: column;
}

.header, .main, .banner, .quotation, .conclusion {
    padding: 0 100px;
}

.footer-box, .quotation-box {
    background: rgba(0,0,0,0.25);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: white;
    text-align: center;
    padding: 20px;
    background: black;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.left-logo {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: white;
}

.call-to-action {
    font-size: 24px;
    color: #F9FAF8; 
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 600px;
    gap: 60px;
}

.left-column {
    max-width: 400px;
}

.button {
    padding: 5px 20px;
    background: white;
    margin-top: 10px;
    border-radius: 5px;
    color: black;
    border: 0;
    min-width: 100px;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 400px;
    height: 200px;
    background: grey;
}

.banner {
    background: grey;
    display: flex;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
}

.subtext {
    color: white;
}

.image-div {
    width: 150px;
    height: 150px;
    border: solid 1px white;
    border-radius: 10px;
    margin-bottom: 5px;
}

.quotation {
    display: flex;
    flex-direction: column;
    padding-top: 100px; 
    padding-bottom: 10px;
}

.quotation-box {
    padding: 20px 80px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    color: white;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.conclusion {
    display: flex;
    flex: 1; /*takes up rest of space and pushes footer down*/
    justify-content: center;
    align-items: center;
}

.conclusion-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 5px;
    padding: 30px 100px;
    gap: 100px;
    margin: 50px 100px;
    min-width: 0px;
}

.sign-up {
 background: white;
 border: solid 1px white;   
 color: black;
 border-radius: 5px;
 padding: 5px 20px;
 min-width: 100px;
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}